.colorContainer{
  width: 12.24489vw;
  height: 67.219387vw;
  margin: 1vw;
}
.colorLine{
  width: 100%;
  height: 2.93367vw;
}

.colorLine{
  transition: 0.5s ease;
  transform: scale(1);
  cursor: pointer;
  position: relative;
}
.colorLine:hover{
  z-index: 1;
  transform: scale(1.2);
}
