.colorContainer{
  width: 6.24489vw;
  /* height: 30.219387vw; */
  margin: 1vw;
}
.colorLine{
  width: 100%;
  height: 1.93367vw;
}

.colorLine{
  transition: all .25s ease;
  transform: scale(1);
  cursor: pointer;
  position: relative;
}
.colorLine:hover{
  z-index: 1;
  transform: scale(2);
}
