@media (orientation:portrait) {
  nav {
    background: #430076;
    border-bottom: 1px solid white;
  }

  header {
    position: relative;
    /* background: radial-gradient(ellipse at center, rgba(41,20,127,1) 0%, rgba(210,126,211,1) 100%); */
    width: 100%;
    min-height: calc(100vh - 26.837929vw);
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: linear-gradient(45deg, rgba(119, 57, 243, 1) 0%, rgba(119, 57, 243, 1) 14%, rgba(87, 235, 255, 1) 100%);
  }

  .userProfileBg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .userProfileContainer {
    margin-top: 6.731234vw;
    position: relative;
    width: 79.6125vw;
    background: #dbddfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55vw;
    border: 2px solid #481086;
  }

  .buttonBox {
    width: 100%;
    /* border: 1px solid; */
    margin-top: 0;
    padding: 1vw 1.45278vw;
    background: #896fb5;
    display: flex;
    justify-content: space-between;
  }

  .buttonBox button {
    border: none;
    border-radius: 10vw;
    display: inline;
    background: transparent;
    font-size: 3.5vw;
    color: #ffa53a;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    padding: 0.5210653vw 1.23244vw;
  }

  .buttonBox button:nth-child(1) {
    margin-right: 0.87vw;
  }

  .buttonBox button:nth-child(3) {
    float: right;
    display: none;
  }

  .profileContanet {
    margin-top: -22.4vw;
    margin-bottom: 7vw;
    flex-direction:;
  }

.profileImageContent{
  width: 100%;
  display: flex;
  justify-content: center;
}
  .profileImageContainer {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 21.5625vw;
    height: 21.5625vw;
    display: flex;
    align-items: center;
    margin-bottom: 9vw;
    justify-content: center;
  }

  .profileImage {
    width: 100%;
  }

  .profileContanet p {
    font-size: 3.75vw;
  }

  .profileContanet p a {
    color: #27137e;
    font-weight: 600;
  }

  .profileContanet p a:hover {
    text-decoration: underline;
  }

  .sellSomethingMobile {
    display: block;
    position: absolute;
    top: 25vw;
    left: 28.2vw;
    border: none;
    border-radius: 10vw;
    display: inline;
    background: #ffa53a;
    font-size: 5vw;
    color: white;
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    padding: 1.521065vw 5.23244vw;
  }
}
