body::before{
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'go mobile view';
  font-size: 5vw;
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 223;
}
